.icon-blank{
	background:url('../../images/themes/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../../images/themes/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../../images/themes/icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('../../images/themes/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../../images/themes/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../../images/themes/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../../images/themes/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../../images/themes/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../../images/themes/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../../images/themes/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../../images/themes/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../../images/themes/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../../images/themes/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../../images/themes/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../../images/themes/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../../images/themes/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../../images/themes/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../../images/themes/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../../images/themes/icons/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../../images/themes/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../../images/themes/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../../images/themes/icons/mini_refresh.png') no-repeat center center;
}