@charset "utf-8";
/* CSS Document */

.main{
	padding:10px;
	}
.teacher-title{
	height:40px;
	line-height:40px;
	font-size:18px;
	border-bottom:2px solid #6e8ed1;
	position:relative;
}
.teacher-title h3{
	position:absolute;
	display:inline;
	border-bottom:2px solid #33518f;
	bottom:-2px;
	font-weight:normal;
	height:40px;
	line-height:40px;
}
.tab{
	height:47px;
	width:829px;
	position:relative; zoom:1;
}
.tab ul{width:829px; height:46px; border-bottom:1px solid #ddd; }
.tab li{
	z-index:1;
	float:left;
	display:inline;
	padding:0 12px;
	margin:14px 0;
	border-right:1px solid #dfdfdf;
	cursor:pointer;
}
.tab li.current{
	margin:0;
	z-index:1;
	border-top:3px solid #6e8ed1;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	height:44px;
	line-height:44px;
	background:#FBFAFA;
	padding:0 12px;
	position:relative;
	left:-1px;
}
.tab li a{
	color:#666
	}
.tab li.current a{
	color:#236fd4
}	

.btn-primary {
	outline:none;
	color:#fff;
	text-shadow:0px 1px 2px #333;
	border:1px solid #1e7db9;
	background:#2e88c0;
	background:-webkit-gradient(linear,left top,left bottom,from(#42a4e0),to(#2e88c0));
	background:-webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background:-moz-linear-gradient(top,#42a4e0,#2e88c0);
	background:-ms-linear-gradient(top,#42a4e0,#2e88c0);
	background:-o-linear-gradient(top,#42a4e0,#2e88c0);
	background-image:-ms-linear-gradient(top,#42a4e0 0%,#2e88c0 100%);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.btn-primary:hover {
	background:#4097ce;
	background:-webkit-gradient(linear,left top,left bottom,from(#70bfef),to(#4097ce));
	background:-webkit-linear-gradient(top,#70bfef,#4097ce);
	background:-moz-linear-gradient(top,#70bfef,#4097ce);
	background:-ms-linear-gradient(top,#70bfef,#4097ce);
	background:-o-linear-gradient(top,#70bfef,#4097ce);
	background-image:-ms-linear-gradient(top,#70bfef 0%,#4097ce 100%);
}
.btn-primary:active {
	top:1px;
	background:#1976b1;
	background:-webkit-gradient(linear,left top,left bottom,from(#1a71a8),to(#1976b1));
	background:-webkit-linear-gradient(top,#1a71a8,#1976b1);
	background:-moz-linear-gradient(top,#1a71a8,#1976b1);
	background:-ms-linear-gradient(top,#1a71a8,#1976b1);
	background:-o-linear-gradient(top,#1a71a8,#1976b1);
	background-image:-ms-linear-gradient(top,#1a71a8 0%,#1976b1 100%);
}
.answerlist li{
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #d7d7d7;
	}
.answerlist .reply{
	position:relative;}
.answerlist .reply .reply-ico{
	height:15px;
	line-height:15px;
	width:15px;
	background:#FB7D29;
	position:absolute;
	font-size:12px;
	text-align:center;
	color:#fff;
	top:4px;
	left:0;
	}
.answerlist .reply-time{
	line-height:24px;
	margin-left:20px;
	background:#eee;
	border-top:1px dashed #d7d7d7;
	padding:0 0 0 10px;
	color:#999;
	margin-bottom:10px;
	font-size:12px;
	}
.answerlist .reply .reply-con{
	margin:0 0 0 20px;
	padding:10px;
	background:#eee;
	}
.answerlist .question{
	line-height:30px;
	font-size:16px;
	margin-bottom:6px;
	}
.answerlist .question a{
	display:block;
	width:700px;
	overflow:hidden;
	float:left;
	}
.answerlist .question button{
	margin:5px;
	}
.answerlist .explain{
	color:#555;
	margin-bottom:10px;
	}
/*--系统通知的分页 --*/
.pager{
	width:700px;
	text-align:center;
	margin:20px auto 0 auto;
	}
.pager a {
	display: inline-block;
	margin: 0 1px;
	padding: 2px 8px;
	border: 1px solid #cccccc;
	border-radius: 2px 2px 2px 2px;
	color: #333333;
	cursor: pointer;
	line-height: 18px;
	background: none repeat scroll 0 0 #FFFFFF;
	}

.pager a.prev {border-left:1px solid #dbdbdb; }
.pager a.hover{
	background:#7282a3;
	border:1px solid #7282a3;
	color:#FFF;
	text-decoration:none;
	}
.pager a:hover {
	background:#7282a3;
	border:1px solid #7282a3;
	color:#FFF;
	text-decoration:none;
	}
.pager a.nail{
	padding:2px 0px;
	border:1px solid #FFF;
	cursor:default;
	color: #333333;
	}
.pager a.nail:hover{
	background:none;
	border:1px solid #fff;
	}
.pager span a.next{border-right:1px solid #dbdbdb; }
/*--系统通知的分页end --*/