@charset "utf-8";
/* CSS Document */
.wrapper{background:#383b3f url(../../images/teacherCenter/bg.jpg) no-repeat top center;}
.container-teacher{
	width:1000px;
	margin:0 auto 30px auto;
	}
.teacher-header{
	margin-top:115px;
	height:134px;
	background:url(../../images/teacherCenter/teacherHeader_bg.png);
	position:relative;
	border-bottom:1px solid #0f2f71;
	}
.teacher-headImg{
	position:absolute;
	border:3px solid #fff;
	left:20px;
	top:-55px;
	wdith:162px;
	height:162px;
	background:#eee;
	}
.teacher-header-Info{
	height:134px;
	margin-left:212px;
		width:180px;
	float:left;
	margin-right:34px;
	display:inline
	}
.teacher-header-Info .teacher-name{
	color:#fff;
	font-size:18px;
	padding:20px 0 0 0;
	line-height:24px;
	position:relative;
	}
.teacher-header-Info .teacher-name span{
	font-size:14px;}
.teacher-header-Info .teacher-name i{
	width:16px;
	height:16px;
	cursor:pointer;
	background: url(../../images/teacherCenter/doc_edit.png) no-repeat;
	position:absolute;
	top:26px;
	right:-14px;}
.positionalTitle{
	color:#a1b9ea;
	line-height:24px;
	font-size:12px;
	padding:0 0 4px 0;
	border-bottom:1px dotted #a1b9ea;
	}
.teacher-header-Info .btn{
	background:#6e8ed1;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.money{
	line-height:30px;
	height:30px;
	overflow:hidden;
	color:#a1b9ea
	}
.money b{
	font-size:24px;
	font-weight:normal;
	color:#fc802d;
	margin-right:6px;
	line-height:30px;
	}
.header-new-count{
	float:left;
	width:350px;
	height:133px;
	}
.header-new-count li{
	float:left;
	border-left:1px solid #4b69a7;
	width:115px;
	text-align:center;
	color:#a1b9ea
	}
.header-new-count ul{
	margin:20px 0 0 0;}
.header-new-count b{
	display:block;
	height:72px;
	line-height:72px;
	font-size:43px;
	color:#fc802d;
	font-weight:normal
	}
.quickButtons{
	float:left;
	width:130px;
	margin:15px 0 0 62px;
	
	}
.btn-tangerine{
	
   background: #f36d14;
   background: -webkit-gradient(linear, left top, left bottom, from(#fc802d), to(#f36d14));
   background: -webkit-linear-gradient(top, #fc802d, #f36d14);
   background: -moz-linear-gradient(top, #fc802d, #f36d14);
   background: -ms-linear-gradient(top, #fc802d, #f36d14);
   background: -o-linear-gradient(top, #fc802d, #f36d14);
   background-image: -ms-linear-gradient(top, #fc802d 0%, #f36d14 100%);
   border-bottom:3px solid #cb5608
	}
.btn-tangerine:hover{
   background: #fb7a23;
   background: -webkit-gradient(linear, left top, left bottom, from(#fd8d42), to(#fb7a23));
   background: -webkit-linear-gradient(top, #fd8d42, #fb7a23);
   background: -moz-linear-gradient(top, #fd8d42, #fb7a23);
   background: -ms-linear-gradient(top, #fd8d42, #fb7a23);
   background: -o-linear-gradient(top, #fd8d42, #fb7a23);
   background-image: -ms-linear-gradient(top, #fd8d42 0%, #fb7a23 100%);
   border-bottom:3px solid #cb5608
	}
.btn-green{
	background:#82c664;
	background: -webkit-gradient(linear, left top, left bottom, from(#82c664), to(#71ab57));
   background: -webkit-linear-gradient(top, #82c664, #71ab57);
   background: -moz-linear-gradient(top, #82c664, #71ab57);
   background: -ms-linear-gradient(top, #82c664, #71ab57);
   background: -o-linear-gradient(top, #82c664, #71ab57);
   background-image: -ms-linear-gradient(top, #82c664 0%, #71ab57 100%);
   border-bottom:3px solid #508b35
   }
.btn-green:hover{
	background:#91d374;
	background: -webkit-gradient(linear, left top, left bottom, from(#91d374), to(#7fbb64));
   background: -webkit-linear-gradient(top, #91d374, #7fbb64);
   background: -moz-linear-gradient(top, #91d374, #7fbb64);
   background: -ms-linear-gradient(top, #91d374, #7fbb64);
   background: -o-linear-gradient(top, #91d374, #7fbb64);
   background-image: -ms-linear-gradient(top, #91d374 0%, #7fbb64 100%);
   border-bottom:3px solid #508b35
	}
.teacher-body{
	background:#fbfafa  url(../../images/teacherCenter/leftCon-bg.png) repeat-y ;
	padding-bottom:30px;
	}
.leftCon{
	float:left;
	width:151px;
	}
.homeLink{
	text-align:center;
	line-height:40px;
	height:40px;
	background:#6e8ed1;
	display:block;
	width:149px;
	color:#fff;
	border-right:1px solid #5070c3;
	border-bottom:1px solid #5070c3;
	}
.leftCon .menu dl{
	margin:10px 0 0 0;
	width:149px;
	}
.leftCon  dd{
	padding:0 0 0 16px;
	height:37px;
	}
.leftCon dd a{
	display:block;
	width:100px;
	padding-left:35px;
	height:36px;
	line-height:36px;
	color:#666;
	position:relative;
	}
.leftCon dd a:hover,.leftCon .current{
	background:#fbfafa;
	padding-left:34px;
	border-bottom:1px solid #cbcaca;
	border-left:1px solid #cbcaca;
	}
.leftCon dt{
	background:url(../../images/teacherCenter/divide.png) repeat-x center;
	padding:0 0 0 15px;
	color:#555;
	height:40px;
	line-height:40px;
	}
.leftCon dt span{
	background:#e3e3e3;
	padding:0 5px;
	}
.leftCon .ico{
	position:absolute;
	display:block;
	width:16px;
	height:16px;
	right:110px;
	top:10px;
	background:url(../../images/teacherCenter/leftCon-menu-ico.png)
	}
.leftCon .ico-video{background-position:0 0;}
.leftCon dd a:hover .ico-video,.leftCon .current .ico-video{background-position:-16px 0;}
.leftCon .ico-live{background-position:0 -16px;}
.leftCon dd a:hover .ico-live,.leftCon .current .ico-live{background-position:-16px -16px;}
.leftCon .ico-upload{background-position:0 -32px;}
.leftCon dd a:hover .ico-upload,.leftCon .current .ico-upload{background-position:-16px -32px;}
.leftCon .ico-uploadExam{background-position:0 -48px;}
.leftCon dd a:hover .ico-uploadExam,.leftCon .current .ico-uploadExam{background-position:-16px -48px;}
.leftCon .ico-practise{background-position:0 -64px;}
.leftCon dd a:hover .ico-practise,.leftCon .current .ico-practise{background-position:-16px -64px;}
.leftCon .ico-homework{background-position:0 -96px;}
.leftCon dd a:hover .ico-homework,.leftCon .current .ico-homework{background-position:-16px -96px;}
.leftCon .ico-exam{background-position:0 -80px;}
.leftCon dd a:hover .ico-exam,.leftCon .current .ico-exam{background-position:-16px -80px;}
.leftCon .ico-score{background-position:0 -112px;}
.leftCon dd a:hover .ico-score,.leftCon .current .ico-score{background-position:-16px -112px;}
.leftCon .ico-bubble{background-position:0 -128px;}
.leftCon dd a:hover .ico-bubble,.leftCon .current .ico-bubble{background-position:-16px -128px;}
.leftCon .ico-bubbleDot{background-position:0 -144px;}
.leftCon dd a:hover .ico-bubbleDot,.leftCon .current .ico-bubbleDot{background-position:-16px -144px;}
.leftCon .ico-manInfo{background-position:0 -288px;}
.leftCon dd a:hover .ico-manInfo,.leftCon .current .ico-manInfo{background-position:-16px -288px;}
.rightCon{
	float:right;
	width:849px;
	}
.rightCon .topBox{
	height:40px;
	border-bottom:1px solid #d7d7d7;
	}
.rightCon .topBox .menuBtn{
	width:40px;
	float:left;
	height:40px;
	border-right:1px solid #d7d7d7;
	cursor:pointer;
	background:url(../../images/teacherCenter/menuBtn.png) no-repeat center center;
	}
.rightCon .topBox .menuBtn:hover{
	background:url(../../images/teacherCenter/menuBtnHover.png) no-repeat center center;
	}
.rightCon  .crumbs{
	padding:0 0 0 50px;
	line-height:40px;
	color:#999;
	height:40px;
	}
.rightCon  .crumbs a{
	float: none;
	background:none;
	padding: 0 ;
	color: #999;
	}
.rightCon .crumbs a:hover{
	color: #236fd4
	}
.rightCon  .crumbs span{ color:#555; margin:0; padding:0;}
