@charset "utf-8";
/* CSS Document */
.main {
	width: 1000px;
	padding:20px 0 0 0;
	margin: 0 auto 30px auto;
}
.leftCon {
	width: 182px;
	float: left;
	background: #fff;
}

.leftCon .title {
	width: 147px;
	height: 40px;
	line-height: 40px;
	padding: 0px 0px 0px 35px;
	background: #57921c;
	color: #FFF;
}
.sideMenu {
	width:180px;
	border:1px solid #d7d7d7;
}
.sideMenu dt {
	border-bottom:1px solid #d7d7d7;
	width: 155px;
	height: 28px;
	line-height: 28px;
	background: #eee;
	font-size: 14px;
	position: relative;
	padding: 0px 0px 0px 25px;
	color: #666;
	cursor:pointer;
}
.sideMenu dt span {
	width:12px;
	height:12px;
	line-height:12px;
	text-align:center;
	display:block;
	position:absolute;
	left:5px;
	top:8px;
	background:#FFF;
	border:1px solid #CCC;
	text-indent:0px;
	font-size:10px;
	color:#999;
}
.sideMenu dd {
	height:auto;
	padding:6px 0px 0px 0px;
	line-height:22px;
	font-size:12px;
}
.sideMenu dd li {
	line-height:30px;
	border-bottom:1px dashed #d7d7d7;
	padding:0 0 0 35px;
	}
.sideMenu dd li.last{
	border-bottom:none}
.rightCon {
	width: 768px;
	margin: 0px 0px 0px 20px;
	padding: 0 0 20px 0;
	float: left;
	border: 1px solid #CCC;
	background: #fff;
}

.columns h3 {
	font-size:13px;
	margin:20px 0px 15px 40px;
}
.columns dd {
	width:700px;
	font-size:13px;
	line-height:18px;
	margin:0px 0px 0px 40px;
}
.columns img{
	width:554px;
	height:361px;
	border:1px solid #CCC;
	padding:5px;
}
.columns ul {margin:15px 0px 0px 0px;}


.contact{
	border: 1px solid #d7d7d7;
	background: #fff;
	}
.contact-con{
	padding:30px;
	}
.contact-con p{
	color:#333;
	line-height:1.5
	}
.contact-con dl{
	margin:10px 0;
	}
.contact-con dt{
	line-height:40px;
	border-bottom:2px solid #CCC;
	font-size:18px;
	color: #69F ;
	margin:0 0 20px 0;
	font-weight:800}
.contact-con dd{
	line-height:30px;}
