@charset "utf-8";
body {font:14px "微软雅黑","宋体", Arial;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,font{
	padding: 0px;
	margin: 0px;
}
input, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
h1,h2,h3,h4,h5,h6,b,strong { font-family:"微软雅黑","宋体", Arial;,Verdana,sans-serif; font-weight:800 }
address,caption,cite,code,dfn,th,var,i,font { font-weight: normal; font-style: normal; } 
table { border-collapse: collapse; border-spacing: 0; font-size:12px; } 
fieldset,img{ border:0; } 
select,input,select,label { vertical-align:middle }
p {margin:5px 0px; padding:5px 0px;}
ul,ol{ list-style: none; } 
caption,th { text-align: left; } 
q:before,q:after { content:”; } 
abbr,acronym { border: 0; }

/*link*/
a {text-decoration:none; cursor:pointer; color:#236fd4;}
a:hover {text-decoration:none;}
.pointer {cursor:pointer;}

/* 去a虚线框 cdl clear dotted line */

.cdl, aactive { outline:none; blr:expression(this.onFocus=this.blur()) }
focus { outline:none } /* for Firefox*/ 
*:focus { outline:none }
/*clear*/
.clear {clear:both; margin:0px; padding:0px;}
.clearleft {clear:left;}
.clearright {clear:right;}
.browseclear {clear:both; _clear:none;}

/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*float*/
.fl { float:left; }    /*  左浮动 */
.fr { float:right; }     /* 右浮动 */

/* text */
.textl {text-align:left;}
.textr {text-align:right;}
.textc {text-align:center;}
.bold {font-weight:800;}

.overflow {overflow:hidden;}
.through {text-decoration:line-through; font:italic 12px Georgia, "Times New Roman", Times, serif;}
.normal { font-style:normal; font-weight:normal;}

.nowrap{ white-space:nowrap;}
.breakword {word-wrap:break-word;}/*通常有width值和overflow:hidden,对中英文均有效,对长串英文无效*/

.indent {text-indent:2em;}

.ellipsis{-o-text-overflow: ellipsis; text-overflow: ellipsis;white-space:nowrap; overflow:hidden;}

input, select, img {vertical-align:middle;}
select, input{font-size:12px;}


/*line height*/

.lh1 {line-height:170%;}
.lh2 {line-height:200%;}

.lh18 {line-height:18px;}
.lh24 {line-height:24px;}

/* display and position */
.disb {display:block;}
.hide {display:none;}
.inlineBlock {display:inline-block;}

.vhidden { visibility:hidden;}
.absolute { position:absolute}
.relative {position:relative;}

/* ul ol li */
.decimal {list-style:decimal inside;}

/* border */
.noborder{ border:none}

/* margin  */
.nomp {margin:0px; padding:0px;}
.nomar{margin:0px;}
.mar10 {margin:10px;}
.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mar20 {margin:20px;}
.mt20 {margin-top:20px;}
.mb20 {margin-bottom:20px;}
.ml20 {margin-left:20px;}
.mr20 {margin-right:20px;}

/* padding  */
.nopad {padding:0px;}
.pad10 {padding:10px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pb10 {padding-bottom:10px;}
.pt10 {padding-top:10px;}
.pad20 {padding:20px;}
.pl20 {padding-left:20px;}
.pr20 {padding-right:20px;}
.pb20 {padding-bottom:20px;}
.pt20 {padding-top:20px;}

/* font */
font {font:12px normal;}
.nofont {font-size:0px;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.lh24{line-height:24px;}
.lh18{line-height:18px;}
.black { font-family:"黑体";}
.yahei { font-family:"微软雅黑",;}



/*CSS3.0*/

.radius
	{/* border radius *//* (-moz-\-webkit-)border-top-left-radius:; \ -moz-border-radius-topleft:; */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}


.shadow
	{
	/*box shadow*//*(-moz-\-webkit-)box-shadow:;*/
	-moz-box-shadow: rgba(0,0,0,0.3) 0 4px 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 4px 4px;
	-khtml-box-shadow: rgba(0,0,0,0.3) 0 4px 4px;
	box-shadow: rgba(0,0,0,0.3) 0 4px 4px;
	/*filter:progid:DXImageTransform.Microsoft.Shadow(enabled=Enabled,color=#000,Strength=4,Direction=135);*/
	}



/*隐藏文字*/
.offScreen{
	left: -9999px;
    position: absolute;}
	
	
.tdn { text-decoration:none; } /* 链接无下划线 */
.ofh { overflow:hidden; }    /*溢出隐藏 */
.tal { text-align:left; }   /* 内容左对齐*/ 
.tar { text-align:right; }  /*  内容右对齐 */
.tac { text-align:center; }   /* 内容居中*/ 
.m0a { margin:0 auto; }     /*容器内水平居中*/ 
.bn { border:0 none !important; }  /*无边框 */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.grid{-moz-box-sizing:border-box;float:left;min-height:1px;margin-bottom:10px;}
.grid-1{width:8.33333%;}
.grid-2{width:16.6667%;}
.grid-3{width:25%;}
.grid-4{width:33.3333%;}
.grid-5{width:41.6667%;}
.grid-6{width:50%;}
.grid-7{width:58.3333%;}
.grid-8{width:66.6667%;}
.grid-9{width:75%;}
.grid-10{width:83.3333%;}
.grid-11{width:91.6667%;}
.grid-12{width:100%}

.darkGray{ color:#555}
.gray{ color:#999}
.black{ color:#000}
.red{ color:#900}


.btn{white-space:nowrap;font-size:14px;cursor:pointer; display:inline-block; text-align:center; color:#fff}
.btn-mini{font-size: 12px;height: 20px;line-height: 20px;padding: 0 12px;}
.btn-small{line-height:30px;padding:0 14px; height:30px;}
.btn-medium{height:42px;line-height:42px;padding:0 16px;}
.btn-large{font-size:18px;line-height:44px;padding:0 20px; width:90px;}

.btn-darkBlue{
	background: #3a96af;
	border: 1px #2F6473 solid;
	text-shadow: #369 1px 1px;
	}

.btn-darkBlue:hover {
	background: #52b3ce
}
.wrapper{background:#e2e2e2;}
.container{padding:0 0 30px 0;}
.crumbs {
	background: #fff;
	height: 29px;
	line-height: 29px;
}
.crumbs a {
	float: left;
	background: url(../images/course/subCrumbsBg.png) no-repeat right;
	padding: 0 20px 0 10px;
	color: #999;
}
.crumbs a:hover {
	color: #236fd4
}
.crumbs span {
	padding: 0 0 0 10px
}