@charset "utf-8";

/* CSS Document */

.leftMenu{
	width:180px;
	background:#FFF;
	}
.menu-head{
	height:138px;
	background:#417786;
	}
.menu-head .title{
	font-size:24px;
	color:#fff;
	padding:10px;
	}
.menu-head .select{
	height:24px;
	margin:50px 10px 0 10px;
	padding:0 0 0 20px;
	background:#FFF;
	font-size:12px;
	line-height:24px;
	background:#fff url(../../images/course/select_icon.png) no-repeat 140px center;
	cursor:pointer;
	position:relative;
	z-index:2
	}
.select-list{
	background:#fff;
	width:160px;
	left:0px;
	top:23px;
	position:absolute;
	}
.select-list li{
	line-height:30px;
	padding:0 0 0 20px;
	border-bottom:1px solid #d7d7d7;
	}
.menu-head .select ul li:hover{
	background:#5EA0C8;
	color:#fff;}
.leftMenu .menu-body{
	background:url(../../images/course/menu_hornBg.png) no-repeat 18px 0px ;
	padding:18px 0 0 0;
	position:relative;
	z-index:1;
	}
.leftMenu .menu-body .item{
	position:relative;
	height:40px;
	line-height:40px;
	padding: 0 0 0 20px;
	background:url(../../images/course/item_icon.png) no-repeat 160px center;
	border-bottom:1px solid #d7d7d7;
	}
.leftMenu .menu-body a{
	color:#000}
.leftMenu .menu-body .item:hover .className{
	color:#36F;
	font-weight:800;
	}

.leftMenu .subMenu{
	display:none;
	position:absolute;
	width:300px;
	right:-300px;
	top:0px;
	background:#FFF;
	}
.leftMenu .menu-body .item:hover .subMenu{
	display:block;
	}
.leftMenu .subMenu dl{
	padding-bottom:10px;
	border-bottom:1px dotted #d7d7d7;
	padding:10px;
	}
.leftMenu .subMenu dl:hover{
	background:#f2f2f2;
	}
.leftMenu .subMenu dt{
	line-height:24px;
	padding:0;
	margin:0;
	font-weight:800;
	}
.leftMenu .subMenu dt a{

	color:#555;
	}
.leftMenu .subMenu dt a:hover{	color:#36F;
	}
.leftMenu .subMenu dd{
	line-height:30px;
	}
	
.leftMenu .subMenu dd a{
	display:inline;
	float:left;
	padding:0 10px;
	margin-right: 10px;
	margin-left: -11px;
	white-space: nowrap;
	color:#555;
	font-size:12px;
	background:url(../../images/course/separation.png) no-repeat right center;
	}
.leftMenu .subMenu dd a:hover{
	color:#36F;
	font-weight:normal
	}
.subCrumbs{
	height:29px;
	line-height:29px;
	border-bottom:1px solid #d7d7d7;
	}
.subCrumbs a{ 
	float:left; 
	background:url(../../images/course/subCrumbsBg.png) no-repeat right;
	padding:0 20px 0 10px;
	color:#999;
	}
.subCrumbs a:hover{ color:#236fd4}
.subCrumbs span{ padding:0 0 0 10px}

.rightCon{
	width:810px;
	background:#fff;
	}
	

.classList{margin:20px 10px 10px 20px;}
.classList .darkGray{
	display:block;
	height:90px;
	width:432px;
	float:left;overflow:hidden;
	}
.classList li{
	padding:0 0 20px 0;
	border-bottom:1px dotted #d7d7d7;
	margin:0 0 20px 0;
	}
.classList img {float:left;margin:0 20px 0 0;}
.classList h2{ font-weight:normal; margin-bottom:10px; float:right;width:432px; -o-text-overflow: ellipsis; text-overflow: ellipsis;white-space:nowrap; overflow:hidden;}
.classList .info{ font-size:12px; float:right;width:432px;}
.classList p{ line-height:24px;}
.pageMore{ text-align:center;padding:0 0 20px 0;}
.pageMore .btn{ background:#3a96af;}